$main_cl: #8cd790;
$accent_cl: #77af9c;
$bg_cl: #d9edc1;
$light_bg_cl: #c5e99b;
$yellow: #fff45c;

$main-text: #404040;

$header_height_sp: 60px;

// メディアクエリ
// Breakpoint ブレイクポイント
$breakpoints: (
    "xs": "screen and (max-width: 375px)",
    "sm": "screen and (max-width: 480px)",
    "md": "screen and (max-width: 768px)",
    "lg": "screen and (max-width: 1028px)",
    "xl": "screen and (max-width: 1230px)",
) !default;

// @mixinでメディアクエリを呼び出す
@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
