//カラー
$main_cl: #8cd790;
$accent_cl: #77af9c;
$bg_cl: #d9edc1;
$light_bg_cl: #c5e99b;

$dark_green: #57b76f;
$gray_green: #acd598;
$light_gray_green: #cae4c3;
$light_gray: #ebeddf;

$yellow: #fff45c;

$dark_text: #404040;
$light_text: #404040;

//サイズ
$header_height_sp: 60px;

// メディアクエリ
// Breakpoint ブレイクポイント
$breakpoints: (
    "xs": "screen and (max-width: 375px)",
    "sm": "screen and (max-width: 480px)",
    "md": "screen and (max-width: 768px)",
    "lg": "screen and (max-width: 1028px)",
    "xl": "screen and (max-width: 1230px)",
) !default;

// @mixinでメディアクエリを呼び出す
@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
